@charset "utf-8";
/* CSS Document */
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}

nav {
	display:flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#FFFFFF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
	
}
nav ul{
	display: flex;
}
nav ul li a{
	margin:30px;
	font-family: myriad pro regular;
	color:#505050;
	font-size:15px;
    font-weight:700;
}
.logo{
	font-family: dodger;
	color:#FF0004;
	font-size:22px;
}
.activ{
	font-weight:bold;
	color:#2d2a2a;
}
#get-in-touch{
    width:90%;
    height:100px;
    background-color: #15181d;
    display: flex;
    margin: 60px auto;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/bg-2.png);
    background-position: top right;
    background-size: 400px;
    background-repeat: no-repeat;
}
#get-in-touch span{
    color: #e4e4e4;
    font-size: 1.3rem;
    font-weight: 600;
}
#get-in-touch a{
    color: #ffffff;
    width:160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
}
#contact{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact form{
    width:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact form input,
#contact form textarea{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #373a412d;
    color: #ffffff;
    border-radius: 5px;
}
#contact form textarea{
    height: 150px;
}
#contact form input[type="submit"]{
    height: 45px;
    background: linear-gradient(90deg, #2065cc 20%,#3b58b8);
    color: #ffffff;
    text-transform: uppercase;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #14151610;
    padding: 10px;
    margin-top: 50px;
    border-top: 1px solid #272729;
}
.copyright{
	font-family: calibri;
	font-weight:bold;
    color:#000000;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social a{
    width:35px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #292b3252;
    margin: 50px;
    font-size: 0.9rem;
    font-weight: 400;
}
.footer-social a:hover{
    background-color: #2993f7;
    transition: all ease 0.5s;
}
::selection{
    color: #e4e4e4;
    background-color: #416cdf;
}
#services,
#introduction,
#skills{
    padding-top: 60px;
}
#introduction{
    padding-bottom: 40px;
}
